@menu-prefix-cls: ~'@{ake-prefix}-menu';
@submenu-prefix-cls: ~'@{ake-prefix}-submenu';
@menu-item-prefix-cls: ~'@{menu-prefix-cls}-item';
.@{menu-prefix-cls} {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	margin-bottom: 30px;
	border-bottom: @menu-border-width solid @menu-border-color;
	box-shadow: @menu-box-shadow;

	.@{menu-item-prefix-cls} {
		padding: @menu-item-padding-y @menu-item-padding-x;
		cursor: pointer;
		transition: @menu-transition;
		border-bottom: @menu-item-active-border-width solid transparent;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&.is-active,
		&:hover {
			color: @menu-item-active-color;
			border-bottom: @menu-item-active-border-width solid @menu-item-active-color;
		}
		&.is-disabled {
			color: @menu-item-disabled-color;
			cursor: not-allowed;
			pointer-events: none;
		}
	}
	// 纵向
	&-vertical {
		flex-direction: column;
		margin: 10px 20px;
		border-bottom: 0;
		border-left: @menu-border-width solid @menu-border-color;
		.@{menu-item-prefix-cls} {
			border-left: @menu-item-active-border-width solid transparent;
			&.is-active,
			&:hover {
				border-bottom: 0;
				border-left: @menu-item-active-border-width solid @menu-item-active-color;
			}
		}
	}
	.submenu-item {
		padding-left: 0;
		position: relative;
		vertical-align: bottom;
		.@{submenu-prefix-cls} {
			color: @body-color;
			background-color: @white;
			display: none;
		}
		.@{submenu-prefix-cls}.menu-open {
			display: block;
		}
	}
}
.ake-menu-horizontal {
	.@{submenu-prefix-cls} {
		box-shadow: 0 0 0 1px @gray-300;
		position: absolute;
		z-index: 100;
		top: calc(100% + 8px);
		color: @body-color;
	}
}
